@media screen and (min-width: 768px) {

.container {
    max-width: 768px;
}
/* nav */
.nav>.list {
    display: flex;
    margin-left: 76px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.nav>.list>.item:not(:last-child) {
    margin-right: 40px;
}

.nav>.list .link {
        display: block;
            padding-top: 24px;
            padding-bottom: 24px;
            color: var(--color-main-text);
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav>.list .link:hover,
.nav>.list .link:focus {
    color: var(--accent);
}

.nav>.list .link.current {
    color: var(--accent);
}
    
.link.header-link-open {
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
    
.nav>.list .open {
    color: var(--accent);
}
    
.link.header-link-open.active::after {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0px;
    bottom: -1px;
    background-color: var(--accent);
    border-radius: 2px;
}



/* address */
.nav-box .address {
    margin-left: auto;
}
.contacts.list{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.contacts .link {
    display: block;
    color: var(--color-secondary-text);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts .link:hover,
.contacts .link:focus {
    color: var(--accent);
}

/* hero */
.hero .title {
    max-width: 496px;

    font-size: 56px;
    line-height: 1.07;
    text-transform: none;
}
.hero .btn {
        margin-top: 36px;
}

/* features */
.features>.container>.list {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;
}   
.features .item:not(:first-child) {
        margin-top: 0;
}    
.features .list>.item {
        flex-basis: calc((100% - 24px) / 2);
}
.item .title {
        text-align: start;
}

/* team */
.social-link.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px 24px;
    margin-top: 72px;
}
.team .card {
    margin: 0;
}
.content-list.list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 8px;
}

/* clients */
.clients-box {
    gap: 72px 24px;
}
.clients-box .link {
    width: 168px;
}

/* footer */
.footer-div {
    width: 582px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 72px 24px;
}
.footer .address {
    text-align: start;
}
.address-social-media {
    text-align: start;
}
.address-subscription{
    text-align: start;
}
.footer-form {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 16px;
}
.footer-form-submit {
    margin: 0;
}

/* portfolio */
.gallery {
    padding-top: 64px;
    padding-bottom: 96px;
}
.btn-gallery {
    padding: 12px 24px;
}
.gallery-tabs {
    max-width: 100%;
    margin-bottom: 64px;
    justify-content: center;
}
.portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
}
.portfolio-list>.portfolio-item {
    flex-basis: calc((100% - 24px) / 2);
}


}